@model MarriageProject.Models.HomePageModel
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>DataTables</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">DataTables</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-12">
        

          <div class="card">
            <div class="card-header">
              <h3 class="card-title">DataTable with default features</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>اسم رب الاسرة</th>
                  <th>العائلة</th>
                  <th>رقم التليفون</th>
                  <th>السن</th>
                  <th>اسم الابن او الابنة</th>
                  <th>عمر الابن او الابنة</th>
                </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model.lVwRegisteredUser) 
                    {

                                <tr>
                                    <td>@item.InitiativeRegisteredUserName</td>
                                    <td>
                                       @item.InitiativeRegisteredUserFamilyName
                                    </td>
                                    <td>@item.InitiativeRegisteredUserPhoneNo</td>
                                    <td> @item.InitiativeRegisteredUserAge</td>
                                    <td>@item.InitiativeRegisteredFamilyMemberName</td>
                                    <td>@item.InitiativeRegisteredFamilyMemberBirthDate</td>
                                </tr>

                    }
              
           
                </tbody>
                <tfoot>
                <tr>
                  <th>Rendering engine</th>
                  <th>Browser</th>
                  <th>Platform(s)</th>
                  <th>Engine version</th>
                  <th>CSS grade</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
 